.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--ls-border-color-01);
  
  &:hover {
    background: var(--ls-background-color-01);
  }
}

.icon {
  font-size: 16px;
  color: var(--ls-font-color-01);
}