.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.github {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 4px;
  height: 24px;
  border: 1px solid var(--wd-border-color-01);
  border-radius: var(--wd-border-radius-xs);
  font-size: var(--wd-font-size-xs);
  padding: 0 8px;
}