.nav {
  padding: 32px 16px;
}

.block {
  padding: 8px 0;
  border-bottom: 1px solid var(--wd-border-color-01);

  &:last-child {
    border-bottom: none;
  }
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  height: 40px;
  color: var(--wd-font-color-01);
  font-weight: 500;

  &.active {
    color: var(--wd-font-color-brand);
    .icon {
      background: var(--wd-background-color-brand);
      color: var(--wd-font-color-white);
    }
  }
  &.active:hover {
    color: var(--wd-font-color-brand);
    .icon {
      background: var(--wd-background-color-brand);
      color: var(--wd-font-color-white);
    }
  }
  &:hover {
    color: var(--wd-font-color-03);
    .icon {
      background: var(--wd-background-color-brand);
      color: var(--wd-font-color-white);
    }
  }
}

.link2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  height: 32px;
  color: var(--wd-font-color-01);
  font-weight: 400;

  &.active {
    color: var(--wd-font-color-brand);
  }

  &:hover {
    color: var(--wd-font-color-03);
  }
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: var(--wd-border-radius-s);
  font-size: var(--wd-font-size-base);
  background: var(--wd-background-color-01);
  margin: 0 12px 0 0;
  
}

.second {
  margin: 18px 0 0 0;
}

.title {
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.group {
  margin: 0 0 18px 0;
}

.menus {
  margin: 0 0 18px 0;
}