.callout {
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid var(--wd-border-color-01);
  border-radius: var(--wd-border-radius-m);
  margin: 24px 0 0 0;

  p {
    margin: 0;
  }

//   :global {

//     &.error {
//       border: 1px solid var(--wd-callout-error-border-color);

//     }
//     &.info {
//       border: 1px solid var(--wd-callout-info-border-color);

//     }
//     &.warning {
//       border: 1px solid var(--wd-callout-warning-border-color);
     
//     }
  
// }

}



.emoji {
  margin: 0 8px 0 0;
  font-size: var(--wd-font-size-base);
}