.group {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 2px;
  height: 32px;
  border-radius: var(--ls-border-radius-m);
  background: var(--ls-background-color-gray-01);
  color: var(--ls-font-color-03);
  gap: 2px;
}