.card {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
  box-sizing: border-box;
  border: 1px solid var(--wd-border-color-01);
  border-radius: var(--wd-border-radius-m);
  color: var(--wd-font-color-03);
  font-size: var(--wd-font-size-base);

  p {
    margin: 0;
    font-weight: normal;
    color: var(--wd-font-color-01);
    font-size: var(--wd-font-size-sm);
  }

  &:hover {
    background: var(--wd-background-color-01);
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  margin: 0 0 8px 0;
}

.content {
  font-size: var(--wd-font-size-sm);
  color: var(--wd-font-color-helper);
}

.icon {
  margin: 0 8px 0 0;
}