.file {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 18px;
  line-height: 18px;
}

.title {
  flex: 0 0 auto;
}

.description {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--wd-font-color-helper);
  margin: 0 0 0 8px;
}

.icon {
  margin: 0 8px 0 0;
  flex: 0 0 auto;
}

.content {
  padding: 0 0 0 24px;
}