@import './token.css';
@import './codeToken.css';
@import './docsearchToken.css';
@import './docsearch.css';

html {
  background: var(--wd-background-color-default);
  color: var(--wd-font-color-inverse);
  font-size: var(--wd-font-size-sm);
  scrollbar-color: var(--wd-border-color-01) var(--wd-background-color-default);
}

body {
  font-family: var(--wd-font-sans);
  font-size: 14px;
  text-align: left;

  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-align: left;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

ol {
  padding: 0 0 0 16px;
}

ul {
  padding: 0 0 0 16px;
}

ul li::marker {
  color: var(--wd-font-color-helper);
}

li {
  padding: 0 0 0 4px;
}

code {
  font-family: var(--wd-font-code);
  background: var(--wd-background-color-01);
  padding: 4px;
  border-radius: var(--wd-border-radius-s);
  border: 1px solid var(--wd-border-color-01);
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers]::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 40px;
  height: 100%;
  width: 0;
  border-right: 1px solid var(--wd-border-color-01);
}

code .line {
  line-height: 20px;
}

code .line.highlighted>span {
  background: var(--wd-border-color-02);
}

code[data-line-numbers] .line:before {
  display: inline-block;
  counter-increment: line;
  content: counter(line);
  width: 40px;
  margin: 0 0 0 4px;
  color: var(--wd-font-color-helper);
}

pre {
  position: relative;
  background: var(--wd-background-color-01);
  padding: 12px;
  border-radius: var(--wd-border-radius-s);
  border: 1px solid var(--wd-border-color-01);
}

pre code {
  background: transparent;
  border: none;
  border-radius: none;
  padding: 0;
}

a {
  color: var(--wd-font-color-brand);
}

table {
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--wd-border-color-01);
  border-radius: var(--wd-border-radius-s);
}

table thead {
  background: var(--wd-background-color-01);
  height: 32px;
}

table th {
  white-space: nowrap;
  padding: 8px 16px;
}

table tr {
  height: 32px;
}

table td {
  padding: 8px 16px;
}

table tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--wd-border-color-01);
}

img {
  max-width: 100%;
}

ul.contains-task-list {
  padding: 0
}

ul.contains-task-list li > input {
  margin: 0;
}

ul.contains-task-list li.task-list-item {
  list-style-type: none;
  padding: 4px 0;
}

a:focus,
button:focus {
  outline: 1px solid var(--wd-border-color-brand);
  outline-offset: 1px;
}