@import './token.css';
@import './docsearchToken.css';
@import './docsearch.css';

html {
  background: var(--wd-background-color-default);
  color: var(--wd-font-color-inverse);
  font-size: var(--wd-font-size-sm);
  scrollbar-color: var(--wd-border-color-01) var(--wd-background-color-default);
}

body {
  font-family: var(--wd-font-sans);
  font-size: 14px;
  text-align: left;

  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-align: left;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}
