.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--ls-border-color-01);
  background: var(--ls-background-color-transparent);
  backdrop-filter: blur(5px);
  height: 64px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  &.collapse {
    height: 0;

    &::before {
      display: block;
    }
  }

  &::before {
    content: '';
    display: none;
    width: 100%;
    height: 80px;
    background: #fcfcfc;
    z-index: 1;
    position: fixed;
    top: 0;
  }
}

[data-theme="dark"] {
  .header {
    &::before {
      background: #1e1e1e;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 16px;
}

.tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 16px;
  text-decoration: none;
  color: var(--ls-font-color-02);
  border-radius: 16px;
  font-size: var(--ls-font-size-sm);

  &:hover {
    background: var(--ls-background-color-black-transparent);
  }
}

.section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--ls-border-color-01);
  background-image: url('../assets/images/background-white.svg');
  background-size: cover;
  padding: 64px 0;
}

[data-theme="dark"] .section {
  background-image: url('../assets/images/background.svg');
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url('../assets/images/dot.svg');
  background-repeat: repeat;
  background-size: 20px 20px;
}
.strong {
  color: var(--ls-font-color-03);
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag {
  color: var(--ls-palette-core-brand);
  font-size: var(--ls-font-size-sm);
  font-weight: 600;
}

.divide {
  width: 2px;
  height: 12px;
  background: var(--ls-border-color-01);
  margin: 0 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin: 18px 0;
}

.description {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 28px 0;
  color: var(--ls-font-color-01);
  width: 680px;
}

.marker {
 font-size: var(--ls-font-size-base);
 color: var(--ls-font-color-01);

}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;

  > .path {
    stroke: var(--ls-palette-core-brand);
    stroke-width: 3px;
    fill: var(--ls-background-color-brand-transparent-03);
    animation: morph 4s ease-in-out infinite;
    transform-origin: center;
  }

  > .helper {
    stroke: var(--ls-border-color-01);
    stroke-width: 2px;
    fill: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #FCFCFC 0%, rgba(252, 252, 252, 0.00) 100%);
}

[data-theme="dark"] {
  .main {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--ls-border-color-01);
  padding: 32px 0;

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  p {
    color: var(--ls-font-color-01);
    font-size: var(--ls-font-size-sm);
  }
}

.logo {
  margin: 0 0 0 -30px;
}

// @keyframes morph {
//   // circle
//   0% {
//     d: path("M0 160 l0 0 a160 160 0 0 1 160 -160 l0 0 l0 0 a160 160 0 0 1 160 160 l0 0 l0 0 a160 160  0 0 1 -160 160 l0 0 l0 0 a160 160 0 0 1 -160 -160 l0 0Z");
//   }

//   // rect
//   15% {
//     d: path("M20 160 l0 -130 a10 10 0 0 1 10 -10 l130 0 l130 0 a10 10 0 0 1 10 10 l0 130 l0 130 a10 10  0 0 1 -10 10 l-130 0 l-130 0 a10 10 0 0 1 -10 -10 l0 -130Z");
//   }
//   25% {
//     d: path("M20 160 l0 -130 a10 10 0 0 1 10 -10 l130 0 l130 0 a10 10 0 0 1 10 10 l0 130 l0 130 a10 10  0 0 1 -10 10 l-130 0 l-130 0 a10 10 0 0 1 -10 -10 l0 -130Z");
//   }

//   // Triangle
//   30% {
//     d: path("M22 238 l0 0 a0 0 0 0 1 0 0 l138 -216 l0 0 a0 0 0 0 1 0 0 l138 216 l0 0 a0 0 0 0 1 0 0 l-138 0 l-138 0 a0 0 0 0 1 0 0 l-0 0Z");
//   }
//   50% {
//     d: path("M22 238 l0 0 a0 0 0 0 1 0 0 l138 -216 l0 0 a0 0 0 0 1 0 0 l138 216 l0 0 a0 0 0 0 1 0 0 l-138 0 l-138 0 a0 0 0 0 1 0 0 l-0 0Z");
//   }

//   // rect-vertical
//   55% {
//     d: path("M40 160 l0 -150 a10 10 0 0 1 10 -10 l110 0 l110 0 a10 10 0 0 1 10 10 l0 150 l0 150 a10 10  0 0 1 -10 10 l-110 0 l-110 0 a10 10 0 0 1 -10 -10 l0 -150Z");
//   }
//   65% {
//     d: path("M40 160 l0 -150 a10 10 0 0 1 10 -10 l110 0 l110 0 a10 10 0 0 1 10 10 l0 150 l0 150 a10 10  0 0 1 -10 10 l-110 0 l-110 0 a10 10 0 0 1 -10 -10 l0 -150Z");
//   }

//   // rect-horizontal
//   75% {
//     d: path("M0 160 l0 -110 a10 10 0 0 1 10 -10 l150 0 l150 0 a10 10 0 0 1 10 10 l0 110 l0 110 a10 10  0 0 1 -10 10 l-150 0 l-150 0 a10 10 0 0 1 -10 -10 l0 -110Z");
//   }
//   85% {
//     d: path("M0 160 l0 -110 a10 10 0 0 1 10 -10 l150 0 l150 0 a10 10 0 0 1 10 10 l0 110 l0 110 a10 10  0 0 1 -10 10 l-150 0 l-150 0 a10 10 0 0 1 -10 -10 l0 -110Z");
//   }

//   // circle
//   100% {
//     d: path("M0 160 l0 0 a160 160 0 0 1 160 -160 l0 0 l0 0 a160 160 0 0 1 160 160 l0 0 l0 0 a160 160  0 0 1 -160 160 l0 0 l0 0 a160 160 0 0 1 -160 -160 l0 0Z");
//   }
// }

@media (max-width: 567px) {
  .tag {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .header {
    &::before {
      height: 112px;
    }
  }

  .figma {
    display: none;
  }

  .section {
    .container {
      flex-direction: column;
    }
  }

  .tags {
    justify-content: center;
  }

  .container {
    padding: 0 16px;
  }

  .divide {
    margin: 0 8px;
  }

  .left {
    text-align: center;
  }

  .chart {
    margin: 64px 0 0 0;
  }
}