.links {
  display: flex;
  gap: 0 18px;
  height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--wd-border-color-01);
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  font-weight: 400;
  color: var(--wd-font-color-inverse);

  &:hover {
    color: var(--wd-font-color-brand);
  }

  &.active {
    color: var(--wd-font-color-brand);
    border-bottom: 2px solid var(--wd-border-color-brand);
    font-weight: 600;
  }
}