:root {
  --wd-font-sans: Inter,int-apple-system,BlinkMacSystemFont,"PingFang SC","Segoe UI","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  --wd-font-code: IBM Plex Sans,int-apple-system,Roboto;
  --wd-palette-common-brand: #4F46E5;
  --wd-palette-common-brand-transparent: rgba(79, 70, 229, 0.00);
  --wd-palette-common-black: #101828;
  --wd-palette-common-black-transparent: rgba(16, 24, 40, 0.00);
  --wd-palette-common-white: #FFFFFF;
  --wd-palette-common-white-transparent: rgba(255, 255, 255, 0.00);
  --wd-palette-gray-00: #F8FAFC;
  --wd-palette-gray-10: #F1F5F9;
  --wd-palette-gray-20: #E2E8F0;
  --wd-palette-gray-30: #CBD5E1;
  --wd-palette-gray-40: #94A3B8;
  --wd-palette-gray-50: #64748B;
  --wd-palette-gray-60: #475569;
  --wd-palette-gray-70: #334155;
  --wd-palette-gray-80: #1E293B;
  --wd-palette-gray-90: #0F172A;
  /* callout */
  --wd-callout-warning-background-color: #FFF7ED;
  --wd-callout-warning-font-color: #7C2D12;
  --wd-callout-warning-border-color: #FED7AA;
  --wd-callout-error-background-color: #FEF2F2;
  --wd-callout-error-font-color: #7F1D1D;
  --wd-callout-error-border-color: #FECACA;
  --wd-callout-info-background-color: #EFF6FF;
  --wd-callout-info-font-color: #1E3A8A;
  --wd-callout-info-border-color: #BFDBFE;
  
  --wd-border-color-01: var(--wd-palette-gray-20);
  --wd-border-color-inverse: var(--wd-palette-common-black);
  --wd-background-scrollbar: rgba(15, 23, 42, 0.30);
  --wd-background-transparent: hsla(0, 0%, 100%, 0.8);
  --wd-background-color-01: var(--wd-palette-gray-10);
  --wd-border-color-02: var(--wd-palette-gray-30);
  --wd-border-color-03: var(--wd-palette-gray-40);
  --wd-border-color-helper: var(--wd-palette-gray-40);
  --wd-background-color-02: var(--wd-palette-gray-20);
  --wd-border-color-icon: var(--wd-palette-common-black);
  --wd-background-color-03: var(--wd-palette-gray-30);
  --wd-background-color-default: var(--wd-palette-common-white);
  --wd-background-color-body: var(--wd-palette-common-white);
  --wd-background-color-brand: var(--wd-palette-common-brand);
  --wd-border-radius-xs: 2px;
  --wd-border-radius-s: 4px;
  --wd-border-radius-m: 8px;
  --wd-border-radius-l: 16px;
  --wd-border-color-brand: var(--wd-palette-common-brand);
  --wd-shadow-color-01: rgba(16, 24, 40, 0.10);
  --wd-shadow-color-02: rgba(16, 24, 40, 0.20);
  --wd-shadow-color-03: rgba(16, 24, 40, 0.20);
  --wd-font-color-01: var(--wd-palette-gray-70);
  --wd-font-color-02: var(--wd-palette-gray-80);
  --wd-font-color-03: var(--wd-palette-gray-90);
  --wd-font-color-brand: var(--wd-palette-common-brand);
  --wd-font-color-helper: var(--wd-palette-gray-50);
  --wd-font-color-inverse: var(--wd-palette-common-black);
  --wd-font-color-white: var(--wd-palette-common-white);
  --wd-font-size-base: 16px;
  --wd-font-size-sm: 14px;
  --wd-font-size-xs: 12px;
  --wd-set-logo-liner-a: var(--wd-palette-common-brand);
  --wd-set-logo-liner-b: var(--wd-palette-common-brand-transparent);
  --wd-glass-background-color: rgba(255, 255, 255, 0.5);
}

html[data-theme='dark'] {
  --wd-font-sans: Inter,int-apple-system,BlinkMacSystemFont,"PingFang SC","Segoe UI","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  --wd-font-code: IBM Plex Sans,int-apple-system,Roboto;
  --wd-palette-common-brand: #6366F1;
  --wd-palette-common-brand-transparent: rgba(99, 102, 241, 0.00);
  --wd-palette-common-black: #0F172A;
  --wd-palette-common-black-transparent: rgba(39, 39, 39, 0.00);
  --wd-palette-common-white: #FFFFFF;
  --wd-palette-common-white-transparent: rgba(255, 255, 255, 0.00);
  --wd-palette-gray-00: #FFFFFF;
  --wd-palette-gray-10: #FFFFFF;
  --wd-palette-gray-20: #FFFFFF;
  --wd-palette-gray-30: #FFFFFF;
  --wd-palette-gray-40: #FFFFFF;
  --wd-palette-gray-50: rgba(255, 255, 255, 0.50);
  --wd-palette-gray-60: rgba(255, 255, 255, 0.60);
  --wd-palette-gray-70: rgba(255, 255, 255, 0.70);
  --wd-palette-gray-80: rgba(255, 255, 255, 0.80);
  --wd-palette-gray-90: rgba(255, 255, 255, 0.90);
  /* callout */
  --wd-callout-warning-background-color: #7C2D12;
  --wd-callout-warning-font-color: #FDBA74;
  --wd-callout-warning-border-color: #9A3412;
  --wd-callout-error-background-color: #7F1D1D;
  --wd-callout-error-font-color: #FECACA;
  --wd-callout-error-border-color: #991B1B;
  --wd-callout-info-background-color: #1E3A8A;
  --wd-callout-info-font-color: #60A5FA;
  --wd-callout-info-border-color: #2563EB;

  --wd-border-color-01: rgba(255, 255, 255, 0.10);
  --wd-border-color-inverse: var(--wd-palette-common-white);
  --wd-background-scrollbar: rgba(255, 255, 255, 0.30);
  --wd-background-transparent: hsla(222, 47%, 11%, 0.8);
  --wd-background-color-01: rgba(255, 255, 255, 0.05);
  --wd-border-color-02: rgba(255, 255, 255, 0.20);
  --wd-border-color-03: rgba(255, 255, 255, 0.20);
  --wd-border-color-helper: rgba(255, 255, 255, 0.40);
  --wd-background-color-02: rgba(255, 255, 255, 0.10);
  --wd-border-color-icon: #FFFFFF;
  --wd-background-color-03: rgba(255, 255, 255, 0.15);
  --wd-background-color-default: var(--wd-palette-common-black);
  --wd-background-color-body: rgb(15, 23, 42);
  --wd-background-color-brand: var(--wd-palette-common-brand);
  --wd-border-radius-xs: 2px;
  --wd-border-radius-s: 4px;
  --wd-border-radius-m: 8px;
  --wd-border-radius-l: 16px;
  --wd-border-color-brand: var(--wd-palette-common-brand);
  --wd-shadow-color-01: rgba(255, 255, 255, 0.04);
  --wd-shadow-color-02: rgba(255, 255, 255, 0.08);
  --wd-shadow-color-03: rgba(255, 255, 255, 0.12);
  --wd-font-color-01: rgba(255, 255, 255, 0.40);
  --wd-font-color-02: rgba(255, 255, 255, 0.70);
  --wd-font-color-03: var(--wd-palette-gray-90);
  --wd-font-color-brand: var(--wd-palette-common-brand);
  --wd-font-color-helper: rgba(255, 255, 255, 0.50);
  --wd-font-color-inverse: var(--wd-palette-common-white);
  --wd-font-color-white: var(--wd-palette-common-white);
  --wd-font-size-base: 16px;
  --wd-font-size-sm: 14px;
  --wd-font-size-xs: 12px;
  --wd-set-logo-liner-a: var(--wd-palette-common-white);
  --wd-set-logo-liner-b: var(--wd-palette-common-white-transparent);
  --wd-glass-background-color: rgba(15, 23, 42, 0.5);
}