.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  background: var(--wd-background-color-default);
  border: 1px solid var(--wd-border-color-01);
  border-radius: var(--wd-border-radius-m);
  color: var(--wd-font-color-helper);
  cursor: pointer;
  font-weight: 400;
  padding: 8px 4px 8px 8px;
  user-select: none;
  box-sizing: border-box;
}

.icon {
  font-size: var(--wd-font-size-base);
}

.input {
  border: none;
  outline: none;
  background: transparent;
}