.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  background: var(--ls-background-color-default);
  color: var(--ls-font-color-helper);
  cursor: pointer;
  font-weight: 400;
  padding: 8px 4px 8px 8px;
  user-select: none;
  box-sizing: border-box;
  border-radius: var(--ls-border-radius-m);
  border: 1px solid var(--ls-border-color-01);
  background: var(--ls-background-color-body);
  width: 300px;
}

.icon {
  font-size: var(--ls-font-size-base);
}

.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 992px) {
  .search {
    width: 100%;
  }
}