.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  gap: 4px;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 2px;
  font-weight: 400;
}

.breadcrumb span {
  font-weight: 500;
}

.icon {
  transform: rotate(180deg);
  color: var(--wd-font-color-helper);
}

.link {
  color: var(--wd-font-color-helper);
  text-transform: capitalize;


  &:hover {
    color: inherit;
  }
}