.tabs {
  position: relative;
  width: 100%;
}

.tab-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 10px;
  padding: 32px 0 16px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 16px;
  text-decoration: none;
  color: var(--ls-font-color-02);
  border-radius: 16px;
  font-size: var(--ls-font-size-sm);
  font-weight: 400;

  &:hover {
    background: var(--ls-background-color-black-transparent);
    font-weight: 400;
  }

  &[data-selected] {
    background: var(--ls-background-color-black-transparent);
    font-weight: 500;
    color: var(--ls-font-color-03);
  }
}

.tab-panels {
  margin: 16px 0 0 0;
}

@media (max-width: 992px) {
  .tab-list {
    padding: 64px 0 16px;
  }
}