:root {
  --wd-callout-error-background-color: var(--wd-palette-red-00);
  --wd-callout-error-font-color: var(--wd-palette-red-90);
  --wd-callout-error-border-color: var(--wd-palette-red-20);
  --wd-callout-warning-background-color: var(--wd-palette-yellow-00);
  --wd-callout-warning-font-color: var(--wd-palette-yellow-90);
  --wd-callout-warning-border-color: var(--wd-palette-yellow-20);
  --wd-callout-info-background-color: var(--wd-palette-blue-00);
  --wd-callout-info-font-color: var(--wd-palette-blue-90);
  --wd-callout-info-border-color: var(--wd-palette-blue-20);
}
html[data-theme="dark"] {
  --wd-callout-error-background-color: var(--wd-palette-red-00);
  --wd-callout-error-font-color: var(--wd-palette-red-90);
  --wd-callout-error-border-color: var(--wd-palette-red-20);
  --wd-callout-warning-background-color: var(--wd-palette-yellow-00);
  --wd-callout-warning-font-color: var(--wd-palette-yellow-90);
  --wd-callout-warning-border-color: var(--wd-palette-yellow-20);
  --wd-callout-info-background-color: var(--wd-palette-blue-00);
  --wd-callout-info-font-color: var(--wd-palette-blue-90);
  --wd-callout-info-border-color: var(--wd-palette-blue-20);
}
