:root {
  --wd-palette-common-brand: #4f46e5;
  --wd-palette-common-brand-transparent: #4f46e500;
  --wd-palette-common-black: #101828;
  --wd-palette-common-black-transparent: #10182800;
  --wd-palette-common-white: #ffffff;
  --wd-palette-common-white-transparent: #ffffff00;
  --wd-palette-gray-10: #f1f5f9;
  --wd-palette-gray-20: #e2e8f0;
  --wd-palette-gray-30: #cbd5e1;
  --wd-palette-gray-40: #94a3b8;
  --wd-palette-gray-50: #64748b;
  --wd-palette-gray-60: #475569;
  --wd-palette-gray-70: #334155;
  --wd-palette-gray-80: #1e293b;
  --wd-palette-gray-90: #0f172a;
  --wd-palette-gray-00: #f8fafc;
  --wd-palette-red-10: #fee2e2;
  --wd-palette-red-20: #fecaca;
  --wd-palette-red-30: #fca5a5;
  --wd-palette-red-40: #f87171;
  --wd-palette-red-50: #ef4444;
  --wd-palette-red-60: #dc2626;
  --wd-palette-red-70: #b91c1c;
  --wd-palette-red-80: #991b1b;
  --wd-palette-red-90: #7f1d1d;
  --wd-palette-red-00: #fef2f2;
  --wd-palette-blue-10: #dbeafe;
  --wd-palette-blue-20: #bfdbfe;
  --wd-palette-blue-30: #93c5fd;
  --wd-palette-blue-40: #60a5fa;
  --wd-palette-blue-50: #3b82f6;
  --wd-palette-blue-60: #2563eb;
  --wd-palette-blue-70: #1d4ed8;
  --wd-palette-blue-80: #1e40af;
  --wd-palette-blue-90: #1e3a8a;
  --wd-palette-blue-00: #eff6ff;
  --wd-palette-yellow-10: #fef9c3;
  --wd-palette-yellow-20: #fef08a;
  --wd-palette-yellow-30: #fde047;
  --wd-palette-yellow-40: #facc15;
  --wd-palette-yellow-50: #eab308;
  --wd-palette-yellow-60: #ca8a04;
  --wd-palette-yellow-70: #a16207;
  --wd-palette-yellow-80: #854d0e;
  --wd-palette-yellow-90: #713f12;
  --wd-palette-yellow-00: #fefce8;
  --wd-palette-green-10: #dcfce7;
  --wd-palette-green-20: #bbf7d0;
  --wd-palette-green-30: #86efac;
  --wd-palette-green-40: #4ade80;
  --wd-palette-green-50: #22c55e;
  --wd-palette-green-60: #16a34a;
  --wd-palette-green-70: #15803d;
  --wd-palette-green-80: #166534;
  --wd-palette-green-90: #14532d;
  --wd-palette-green-00: #f0fdf4;
}
html[data-theme="dark"] {
  --wd-palette-common-brand: #6366f1;
  --wd-palette-common-brand-transparent: #6366f100;
  --wd-palette-common-black: #0f172a;
  --wd-palette-common-black-transparent: #27272700;
  --wd-palette-common-white: #ffffff;
  --wd-palette-common-white-transparent: #ffffff00;
  --wd-palette-gray-10: #ffffff;
  --wd-palette-gray-20: #ffffff;
  --wd-palette-gray-30: #ffffff;
  --wd-palette-gray-40: #ffffff;
  --wd-palette-gray-50: #ffffff80;
  --wd-palette-gray-60: #ffffff99;
  --wd-palette-gray-70: #ffffffb2;
  --wd-palette-gray-80: #ffffffcc;
  --wd-palette-gray-90: #ffffffe5;
  --wd-palette-gray-00: #ffffff;
  --wd-palette-red-10: #991b1b;
  --wd-palette-red-20: #b91c1c;
  --wd-palette-red-30: #dc2626;
  --wd-palette-red-40: #ef4444;
  --wd-palette-red-50: #f87171;
  --wd-palette-red-60: #fca5a5;
  --wd-palette-red-70: #fecaca;
  --wd-palette-red-80: #fee2e2;
  --wd-palette-red-90: #fef2f2;
  --wd-palette-red-00: #7f1d1d;
  --wd-palette-blue-10: #1e40af;
  --wd-palette-blue-20: #1d4ed8;
  --wd-palette-blue-30: #2563eb;
  --wd-palette-blue-40: #3b82f6;
  --wd-palette-blue-50: #60a5fa;
  --wd-palette-blue-60: #93c5fd;
  --wd-palette-blue-70: #bfdbfe;
  --wd-palette-blue-80: #dbeafe;
  --wd-palette-blue-90: #eff6ff;
  --wd-palette-blue-00: #1e3a8a;
  --wd-palette-yellow-10: #854d0e;
  --wd-palette-yellow-20: #a16207;
  --wd-palette-yellow-30: #ca8a04;
  --wd-palette-yellow-40: #eab308;
  --wd-palette-yellow-50: #facc15;
  --wd-palette-yellow-60: #fde047;
  --wd-palette-yellow-70: #fef08a;
  --wd-palette-yellow-80: #fef9c3;
  --wd-palette-yellow-90: #fefce8;
  --wd-palette-yellow-00: #713f12;
  --wd-palette-green-10: #166534;
  --wd-palette-green-20: #15803d;
  --wd-palette-green-30: #16a34a;
  --wd-palette-green-40: #22c55e;
  --wd-palette-green-50: #4ade80;
  --wd-palette-green-60: #86efac;
  --wd-palette-green-70: #bbf7d0;
  --wd-palette-green-80: #dcfce7;
  --wd-palette-green-90: #f0fdf4;
  --wd-palette-green-00: #14532d;
}
