:root {
  --ls-palette-core-brand: #fe5124;
  --ls-palette-core-white: #ffffff;
  --ls-palette-core-black: #000000;
  --ls-palette-gray-01: #f0f0f0;
  --ls-palette-gray-02: #fcfcfc;
}
html[data-theme="dark"] {
  --ls-palette-core-brand: #fe5124;
  --ls-palette-core-white: #ffffff;
  --ls-palette-core-black: #07080a;
  --ls-palette-gray-01: #ffffff1a;
  --ls-palette-gray-02: #ffffff0d;
}
